%section.advanced_search.container
  = render "form"
  %hr
  %h2.results_count Results: #{pluralize(@videos.count, 'video')} found
  - @videos.each do |video|
    %article.video.row
      .video_data
        %figure.col-sm-2
          %img(src="http://dummyimage.com/166x236/000/fff" alt="video cover")
        .video_body.col-sm-10
          %header
            %h3= video.title
          %p.video_description= video.description
          %hr
          .details
            %span.average_rating Average rating: #{video.rating}
            %span.reviews_count #{pluralize(video.comments.count, 'review')}
          %footer.video_review
            In nulla hendrerit. Vestibulum volutpat orci varius, euismod quis nunc mattis malesuada, quis nulla tortor lacinia id vestibulum, mattis venenatis sed integer. Lorem ipsum dolor sit amet, qui risus mus aliquet alias, placerat volutpat consequat turpis vivamus quis...
