%section.advanced_search.container
  = form_tag advanced_search_path, method: :get, class: "form-horizontal" do
    %header
      %h1 Advanced Search
    .form-group
      .col-sm-6
        = search_field_tag :query, params[:query], placeholder: "Search videos by title, description", class: "form-control"
    .form-group
      .col-sm-6
        .checkbox
          %label
            = check_box_tag "comments", "true", params[:comments]
            Include Reviews
    .form-group
      .row.average_rating_label Average Rating
      = label_tag :rating_from, "From:", class: "col-sm-1 control-label"
      .col-sm-2
        = select_tag "rating_from", options_for_select( (10..50).map{ |num| num / 10.0} ), prompt: "-", class: "form-control"
      = label_tag :rating_from, "To:", class: "col-sm-1 control-label"
      .col-sm-2
        = select_tag "rating_to", options_for_select( (10..50).map{ |num| num / 10.0} ), prompt: "-", class: "form-control"
    .form-group
      .col-sm-6
        = button_tag(type= "submit", class: "btn btn-primary") do
          %span.glyphicon.glyphicon-search
          Search
  - if params[:query].present?
    %hr
    %h2.results_count Results: #{pluralize(@videos.count, 'video')} found
    - @videos.each do |video|
      %article.video.row
        .video_data
          %figure.col-sm-2
            %img(src="{video.small_cover_url}" alt="#{video.title}")
          .video_body.col-sm-10
            %header
              %h3= video.title
            %p.video_description= video.description
            %hr
            .details
              %span.average_rating Average rating: #{video.rating}
              %span.reviews_count #{pluralize(video.comments.count, 'review')}
            %footer.video_review
              In nulla hendrerit. Vestibulum volutpat orci varius, euismod quis nunc mattis malesuada, quis nulla tortor lacinia id vestibulum, mattis venenatis sed integer. Lorem ipsum dolor sit amet, qui risus mus aliquet alias, placerat volutpat consequat turpis vivamus quis...
