%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img{src:@video.large_cover_url}
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{@video.average_rate}/5.0
        %p= @video.description
        .actions
          = link_to "Watch Now", @video.url, class: "btn btn-primary"
          - unless current_user.queue_video?(@video)
            = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: "btn btn-default"

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for([@video, @comment], url: comment_video_path ) do |f|
        = field_set_tag do
          .row
            = f.alert_message "Please check your input below", error_summary: false
            .col-sm-3
              = f.select :rate, options_for_video_reviews, { label: "Rate this video"}
          .row
            .col-sm-8
              = f.text_area :content, label: "Write Review", rows: "6"
        = field_set_tag nil, class: "form-group actions clearfix" do
          = f.submit "Submit", class: "btn"
          = link_to "Cancel", @video
      %header
        %h3  User Reviews (#{@video.comments.count})
      %ul
        - @video.comments.each do |comment|
          %article.review
            %li.row
              .col-sm-2
                %span  Rating: #{comment.rate} / 5
                %p
                  by
                  = link_to comment.user.full_name, comment.user
              .col-sm-8
                %p= comment.content
